.div1{
    width:800px;
    height: 300px;
    margin: auto;
    border: 1px solid blueviolet;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

        /* display: grid;
    place-items: center; */
    background-color: aqua;
}

.div2{
    margin: auto;
    border: 1px solid blueviolet;
    width:500px;
    height: 100px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-items: center;
    background-color: bisque;
}

.header1{
    background-color: azure;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);

}
.header1:hover{
    background-color: blueviolet;
    transform: scale(1,1);

    
}


.beff{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
  }
  .beff:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .befff:hover{
    transform: scale(1.1);  
  }